
@charset "EUC-JP";

/* --------------------------------- */
/*  FY Pain2 Series CSS              */
/*  for Internet Explorer            */
/*  Update: 05/09/12                 */
/* --------------------------------- */

/* フォントサイズを変更する場合はstyleフォルダ内のtext-midium.cssを編集してください。 */
@import url("style/text-midium.css");

/* SITE BODY Style */

body{ 
	margin: 0px;
	padding: 0px
	}

table,tr,td{
	}

th{
	background: #51446c;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
	padding: 4px;
	}

th a:link, th a:active, th a:visited{
	color: #ffffff;
	font-weight: bold;
	}

hr{
	height: 0px;
	border: 0px solid #665588;
	border-top-width: 1px;
	}

img{
	border: 0px;
	}

h1,h2,h3,h4{
	padding:0;
	margin:0;
	}

h4{
	background: #51446c;
	border-bottom: 3px double;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 5px;
	margin-bottom: 1.0em;
	}

/* Link Style -----------------------*/

a:link, a:active, a:visited{
	color: #665588;
	text-decoration: none;
	}

a:hover{
	color: #660000;
	text-decoration: underline;
	}

.toggle{
	display: block;
	float: right;
	width: auto;
	}

a.toggle{
	color: #fff;
	text-decoration: none;
	}


/* List Style ---------------------- */

ul	{
	margin: 0px;
	padding: 0px;
	list-style: decimal inside;
	text-align: left
	}

li	{
	margin-left: 3px;
	line-height: 150%;
	list-style: square inside;
	}


/* General text -------------------- */

.genmed{
	font-size: 10px
	}

.gensmall{
	font-size: 12px
	}

.shortcut{
	text-decoration: underline;
	}

.none{display:none;}


/* Border Style -------------------- */


/* HEADER -------------- */

#header{
	background: #51446c;
	border-top: 3px double #51446c;
	color: #fafafa;
	margin: 0;
	}

#header h1{
	padding: 10px 15px 0 15px;
	}

#header h2{
	padding: 0 15px 10px 15px;
	}

#header a, #header a:hover{
	color: #ffffff;
	}

#welcome {
	background: #efe3fd;
	border: 1px solid #665588;
	}

/* NAVIGATION ---------- */

#navigation {
	background: #efe3fd;
	border-bottom: 3px double #efe3fd;
	padding: 3px 5px 2px 5px;
	margin: 0;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	}

#navigation a{
	font-weight: bold;
	}

#fontsizeChange {
	background: #efe3fd;
	border-bottom: 3px double #efe3fd;
	padding: 4px 5px 2px 5px;
	}

#fontsizeChange a:link, #fontsizeChange a:visited, #fontsizeChange a:active{
	background: #665588;
	border: 1px outset;
	color: #fff;
	font-weight: bold;
	padding: 1px 10px;
	}

#fontsizeChange a:hover{
	background: #f2e9fe;
	color: #665588;
	text-decoration: none;
	}

/* CONTENT ------------- */

#content{
	vertical-align: top;
	padding: 10px 8px;
	}

#content h3.blockTitle{
	background: #51446c;
	border-bottom: 3px double;
	color: #ffffff;
	padding: 2px 5px;
	}

#content div.blockContent{
	padding: 3px 3px 0.6em 3px;
	}

#contentleft{
	vertical-align: top;
	width: 50%;
	padding-right: 3px;
	}

#contentright{
	vertical-align: top;
	width: 50%;
	padding-left: 3px;
	}

#content table, #contentleft table, #contentright table{
	width: 100%;
	}

/* LEFT SIDE BAR ------- */

#leftsidebar{
	vertical-align: top;
	width: 150px;
	background: #51446c;
	border-right: 3px double #51446c;
	padding: 0px 8px 10px 8px;
	margin: 0;
	}

#leftsidebar h3.blockTitle{
	background: #665588;
	border: 1px outset;
	color: #ffffff;
	text-align: center;
	line-height: 18px;
	}

#leftsidebar div.blockContent{
	color: #ffffff;
	padding: 3px 0 0.6em 0;
	}

#leftsidebar a{
	color: #ffffff;
	}

#leftsidebar a:hover{
	text-decoration: underline;
	}

#leftsidebar table{
	width: 100%;
	}

#leftsidebar .odd a, #leftsidebar .odd{
	color: #665588;
	}

#leftsidebar .even a, #leftsidebar .even{
	color: #665588;
	}


/* RIGHT SIDE BAR ------ */

#rightsidebar{
	vertical-align: top;
	width: 160px;
	padding: 10px 8px 10px 4px;
	}

#rightsidebar h3.blockTitle{
	background: #665588;
	border-bottom: 3px double;
	color: #ffffff;
	padding: 2px 5px;
	}

#rightsidebar div.blockContent{
	padding: 3px 3px 0.6em 3px;
	}

#footer{
	background: #51446c;
	border-bottom: 3px double #51446c;
	color: #fafafa;
	text-align: right;
	padding: 2px 10px;
	margin: 0;
	}


/* FOOTER -------------- */

#footer a{
	color: #ffffff;
	}

#footer a:hover{
	text-decoration: underline;
	}

/* Mainmenu Style ------------------ */

td#mainmenu {
	line-height: 1.0em;
	}

td#mainmenu a {
	border: 1px solid #51446c;
	}

td#mainmenu a:hover {
	border: 1px inset #fff;
	text-decoration: none;
	}

td#mainmenu a.menuTop {
	}

td#mainmenu a.menuTop:hover {
	}

td#mainmenu a.menuMain {
	}

td#mainmenu a.menuMain:hover{
	}

td#mainmenu a.menuSub {
	border-left: 1px solid #fff;
	line-height: 0.7em;
	margin-left: 1.0em;
	}

td#mainmenu a.menuSub:hover {
	border-right: 1px solid #fff;
	}


/* Usermenu Style ------------------ */

td#usermenu {
	line-height: 0.9em;
	}

td#usermenu a {
	border: 1px solid #51446c;
	}

td#usermenu a:hover {
	border: 1px inset #fff;
	text-decoration: none;
	}

td#usermenu a.menuTop {
	}

td#usermenu a.highlight {
	background: #ffcc00;
	color: #1A1A1A;
	}


/* NEWS Style ---------------------- */

.item {
	}

.itemHead {
	background: #51446c;
	border-bottom: 3px double;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 5px;
	}

.itemInfo {
	text-align: right;
	padding: 2px 5px;
	}

.itemTitle a:link, .itemTitle a:active, .itemTitle a:visited {
	color: #ffffff;
	text-decoration: none;
}

.itemPoster {}

.itemPostDate {}

.itemStats {}

.itemBody {
	}

.itemText {
	line-height: 150%;
	padding: 2px 5px;
	}

.itemFoot {
	border-top: 1px dotted #665588;
	padding: 2px 5px;
	text-align: right;
	}

.itemAdminLink {}

.itemPermaLink {}



/* Newbb Style --------------------- */

.outer{
	border: 1px solid #665588;
	width: 100%;
	}

.head, tr.head td{
	background: #51446c;
	color: #ffffff;
	padding: 3px;
	}

.head a:link, .head a:active, .head a:visited{
	color: #ffffff;
	}

.head a:hover{
	text-decoration: underline;
	}

.even{
	background: #f2e9fe;
	vertical-align: top;
	padding: 3px;
	}

.odd{
	background: #f7f1fe;
	vertical-align: top;
	padding: 3px;
	}

tr.even td{
	background: #f2e9fe;
	vertical-align: middle;
	padding: 3px;
	}

tr.odd td{
	background: #f7f1fe;
	vertical-align: middle;
	padding: 3px;
}

.foot, tr.foot td{
	background: #51446c;
	padding: 4px;
	color: #ffffff;
	}

.foot a:link, .foot a:active, .foot a:visited{
	color: #ffffff;
	}


/* NEWBB Userbox Style ------------- */

.comTitle {
	padding: 2px;
	margin-bottom: 2px;
	}

.comPoster {
	border: 1px solid #e1e1e1;
	background: #f7f4f0;
	padding: 2px 5px;
	margin: 5px;
	}

.comText {
	padding: 2px;
	padding-bottom: 20px;
	}

.comUserStat {
	border: solid #51446c;
	border-width: 1px 2px 2px 1px;
	margin: 2px; padding: 2px;
	}

.comUserStatCaption {
	font-weight: normal;
	}

.comUserStatus {
	margin-left: 2px;
	margin-top: 10px;
	color: #2F5376;
	}

.comUserRank {
	margin: 2px;
	}

.comUserRankText {
	}

.comUserRankImg {
	border: 0;
	}

.comUserName {
	}

.comUserImg {
	margin: 2px;
	}

.comDate {
	font-weight: normal;
	font-style: italic;
	}

.comDateCaption {
	font-weight: bold;
	font-style: normal;
	}


/* Form Setting ------------------------------------------- */
form {
	margin:0;
	padding:0
	}

input{
	}

textarea{
	}


/* BBCODE Style -------------------- */

div.xoopsCode {
	border: solid #51446c;
	border-width: 1px 1px 1px 5px;
	padding: 0em 0.5em;
	margin: 5px;
	font-family: "Courier New", Courier, Monospace;
	}

div.xoopsQuote {
	padding: 0;
	margin: 5px;
	}

blockquote {
	border: solid #51446c;
	border-width: 1px 1px 1px 5px;
	padding: 1.0em 0.5em;
	margin: 0;
	}


/* ERROR MESSAGE ------------------- */

div.errorMsg {
	background-color: #FFCCCC;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	padding: 10px;
	}

div.confirmMsg {
	background-color: #DDFFDF;
	color: #136C99;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	font-weight: bold;
	padding: 10px;
	}

div.resultMsg {
	background-color : #efe3fd;
	color: #51446c;
	text-align: center;
	border-top: 1px solid silver;
	border-left: 1px solid silver;
	font-weight: bold;
	border-right: 1px solid #665588;
	border-bottom: 1px solid #665588;
	padding: 10px;
}